<!-- <app-approver-dashboard>
  <tr>
    <td><input type="checkbox"></td>
    <td><button id="renewal">AB_157_OH</button></td>
    <td>Renewal</td>
    <td>John Doe</td>
    <td>15th Feb, 2021</td>
  </tr>
</app-approver-dashboard> -->
<section class="main-sec">
      <div class="logo px-5 pt-3 text-right">
          <a [routerLink]="['']"><img src="https://raw.githubusercontent.com/pradeep9988/contractdemo/gh-pages/img/logo.JPG" alt="logo"></a> 
        </div>
      <div class="parent-wrap p-2 p-lg-5 pt-5">
          <!-- <h1 class="col-sm-10 col-xl-7 mb-4 parent-heading">FRANCHISE CONTRACT DASHBOARD</h1> -->
          <div class="appr-rej col-sm-12 col-xl-12 pb-5">
            <h1 class="type-of-contract col-sm-12 py-3">
             Contract Renewal Dashboard    
             </h1>
             <div class="types mt-5">
               <p><a (click)="navToRenewalDetails()" class="btn btn-primary newtype ">RENEWAL</a></p>
               <p><button (click)="navToConLib()" class="btn btn-primary newtype ">VIEW CONTRACTS</button></p>
               <p><button (click)="navToConInsights()" class="btn btn-primary newtype">INSIGHTS</button></p>
             </div>
             <div class="table-wrap-approver mt-5 table-responsive">
               <table>
      
                 <tbody><tr>
                   <th></th>
                   <th>Name</th>
                 <th>Type</th>
                 <th>Sent by</th>
                 <th>To be Approved by</th>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>AB_26314_SF</td>
                  <td>New Contract</td>
                  <td>John McDonald</td>
                  <td>12th Feb, 2020</td>
                </tr>
                <tr>
                  <td><input type="checkbox"></td>
                  <td>AB_112_OH</td>
                  <td>Termination</td>
                  <td>Mark Wood</td>
                  <td>15th Feb, 2020</td>
                </tr>
                 <tr>
                  <td><input type="checkbox"></td>
                  <td><button class="p-0 m-0" (click)="navToRenewalDetails()" id="renewal">AB_157_OH</button></td>
                  <td>Renewal</td>
                  <td>John Doe</td>
                  <td>15th Feb, 2021</td>
                </tr>
              </tbody></table>
             </div>
             <!-- <div class="mt-5 apporver-btns">
               <a href="contracts-library.html" class="btn btn-app mr-3">Approve</a>
               <button class="btn btn-rej">Reject</button>
             </div> -->
      
         </div>
          </div>

  </section>